# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -r requirements.txt

before_script:
  - pip install -r test_requirements.txt
  - pip install coveralls

# command to run tests, e.g. python setup.py test
script:
  - coverage run --source esis setup.py test

after_success:
  - coveralls
